html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 900px;
}


/* Navigation */
.Nav {
  display: flex;
  justify-content: space-around;
  background-color: #0070FF;
  color: white;
  font-size: 17px;

}

.numberExs {
  display: flex;
  align-items: center;
  gap: 15px;
  color: rgba(255, 255, 255, 0.372);
  font-size: 25px;
}

.numberExs:hover {
  color: white;

}

.selected {
  color: white;
}

img {
  width: 900px;
}

/* title */
.title {
  font-size: 60px;
  padding: 10px;
  display: flex;
  gap: 8px;
}


/* text Info */
.textInfo {
  display: flex;
  flex-direction: column;
  background-color: #CBE9EF;
  border-radius: 10px;
  border-color: #0070FF;
  padding: 10px;
  
}
strong{
  color: red;
  font-weight: 400;

}
/* Button */
.button{
  padding: 10px;
}
button {
  background-color: #0070FF;
  box-shadow: none;
  display: flex;
  align-items: center;
  border-radius: 7px;
  color: #CBE9EF;
  font-size: 25px;
  box-shadow: 0px;
 

}
/* Exercise 2 */
.operation{
  display: flex;
  gap: 8px;
  
}
.operation p{
  font-size: 30px;
}
strong{
  color: red;
}
/* Exercise 3 */
.componentAEx3, .componentBEx3, .componentCEx3 {
  padding: 5px;
  border: 2px solid black;
  font-weight: 400;
  
}
